<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>テンプレDjango</title>
  </head>
  <body>
        <div class="card-header bg-primary  text-white">
            ログインフォームだよ
        </div>
            <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </div>
            </form>

            <div class="create_accounts">
              <form action="{% url  'signup' %}">
              <input id = 'next' type="submit" value="アカウント作成"/>
              </form>

            </div>



  </body>
</html>
